* {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #5f5f5f;
  //   レイヤー用height
  height: 100%;
  html.body {
    input:focus,
    button:focus {
      outline: none;
    }
  }
}
